.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.not-found,
.enter-your-name {
  padding-top: 3em;
  text-align: center;
}

.not-found a {
  color: #ffbe0b; /*Mango*/
}

.prompts {
  display: flex;
  flex-wrap: wrap;
}

.start-round {
  margin-bottom: 1em;
}

.teams {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
}

.team-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.team-container h3 {
  margin: 0;
  text-align: center;
}

.team-container .button {
  align-self: center;
  margin-top: 1em;
}

.team-members {
  transition: 0.3s;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: calc(var(--height) * 41px + 61px + 1em);
}

.hidden-team-members {
  max-height: 0;
}

@media only screen and (max-width: 600px) {
  .header h1 {
    /* background-color: lightblue; */
    margin-top: 0.25em;
  }

  .team-members {
    max-height: calc(var(--height) * 30px + 50px + 1em);
  }

  .hidden-team-members {
    max-height: 0;
  }
}
