.welcome-page {
  display: flex;
  flex-direction: column;
}

.welcome-form {
  display: flex;
  justify-content: space-between;
}

.welcome-form button,
.welcome-form input {
  width: 45%;
}

.create-room {
  margin: 1.5em 0;
}
