.welcome-page {
  display: flex;
  flex-direction: column;
}

.welcome-form {
  display: flex;
}

.welcome-form button,
.welcome-form input {
  flex-grow: 1;
  flex-basis: 25%;
  width: 50%;
}

.create-room {
  margin: 1em 0;
}
