.container {
  transform: rotate(var(--rotate));
  transition: 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 350px;
}

.image {
  filter: invert(90%) sepia(4%) saturate(2653%) hue-rotate(147deg)
    brightness(121%) contrast(93%);
  width: 90%;
  position: absolute;
}

.text {
  width: 50%;
  font-size: 1.25em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    height: 275px;
  }

  .text {
    font-size: 1em;
  }
}
