.button {
  font-family: "Amatic SC", cursive;
  font-size: 1em;
  font-weight: bold;
  color: #102b3f; /*cyan-blue*/
  background-color: #ffbe0b; /*Mango*/
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 10px;
  transition: all 0.2s;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.35);
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.35);
}

.button:disabled {
  background-color: #bdbdbd;
  cursor: auto;
}

.show-members {
  background-color: transparent;
  font-weight: bold;
  color: #cdf7f6;
  height: 55px;
  font-size: 0.5em;
}

.secondary-button {
  color: #cdf7f6;
  background-color: #102b3f;
  border: 1px solid #cdf7f6;
  margin-bottom: 1px;
}

.red {
  background-color: #c70039; /*red*/
}
