body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  font-weight: bold;
  background-color: #cdf7f6;
  color: #102b3f;
  background-color: #102b3f;
  color: #cdf7f6;
  /* color: white; */

  /* 4C1A57 Russian Violet */
  /* E8D33F Citrine */
}

input[type="button"] input[type="text"] {
  font-family: "Amatic SC", cursive;
}
