body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  font-weight: bold;
  background-color: #102b3f; /*cyan-blue*/
  color: #cdf7f6;
}

input[type="button"] input[type="text"] {
  font-family: "Amatic SC", cursive;
}

@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
    font-size: 1.5em;
  }
}
